#PingPong{
    text-align: center;
}
#gameBoard{
    border: 2px solid;
    background-color: lightblue;
}
#scoreBoard{
    font-size: 60px;
}
#resetButton{
    font-size: 18px;
    width: 80px;
    height: 30px;
    border: solid red;
    border-radius: 30px;
}
paddle1{
    color: red;
    border: black;
}
paddle2{
    color: green;
    border: black;
}
ball{
    color: gold;
    border: black;
}